#notification {
  text-align: center;
  padding: 1em;
  font-size: 3em;
}

.success {
  color: green;
  font-style: italic;
  border: 0.2em solid green;
  background-color: rgba(0,0,0,0.1);
}

.error {
  color: red;
  font-weight: bold;
  border: 0.2em dashed red;
}
