html {
  height: 100%;
}
body {
  height: 100%;
  text-align: center;
}

header {
  line-height: 4em;
  height: 12em;
}

table {
  margin-top: 1em;
  width: 100%;
  align-self: center;
  align-items: center;
  justify-content: center;
}

td {
  display: inline-block;
  width: 20%;
}

tr:nth-child(even) {
  background: #00a2bc7F;
}

caption {
  color: #00a2bc;
}
h2 {
  color: #00a2bc;
  margin-top: 5em;
}

.divider {
  height: 4em;
  background-color: #00a2bc;
}

.amount {
  color: green;
  text-decoration: underline;
}

.option {
  margin: 0;
}

#root {
  height: 100%;
}

#ControlPanel {
  display: grid;
  grid-template-columns: 10% 10% 10%;
  justify-content: center;
}

#logo {
  display: inline-block;
  float: left;
  height: 4em;
  width: 4em;
  border: 2px solid black;
  border-radius: 50%;
}
